.banner .swiper {
    width: 240px;
    height: 320px;
}

.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
    background-image: url('src/assets/banner-books/photo1.jpg');
    background-size: cover;
   
    
}

.banner .swiper-slide:nth-child(2n) {
    background-image: url('src/assets/banner-books/photo2.jpg');
    background-size: cover;
}

.banner .swiper-slide:nth-child(3n) {
    background-image: url('src/assets/banner-books/photo3.jpg');
    background-size: cover;
}

.banner .swiper-slide:nth-child(4n) {
    background-image: url('src/assets/banner-books/photo4.jpg');
    background-size: cover;
}

.banner .swiper-slide:nth-child(5n) {
    background-image: url('src/assets/banner-books/photo5.jpg');
    background-size: cover;
}



.banner .swiper-slide:nth-child(6n) {
    background-image: url('src/assets/ab.jpg');
    background-size: cover;


}

.banner .swiper-slide:nth-child(7n) {
    background-image: url('src/assets/ff.jpg');
    background-size: cover;
}

.banner .swiper-slide:nth-child(8n) {
    background-image: url('src/assets/fff.jpg');
    background-size: cover;
}

.banner .swiper-slide:nth-child(9n) {
    background-image: url('src/assets/ef.jpg');
    background-size: cover;
}

.banner .swiper-slide:nth-child(10n) {
    background-image: url('src/assets/cd.jpg');
    background-size: cover;
}
